@import '/src/styles/global';
@import '/src/styles/color';

.container {
  @include setting;
}

.top {
  display: flex;
  align-items: center;
  justify-content: space-between;

  padding: 1.25rem 0 3.4rem;
}

.myTrophyBtn {
  height: 1.75rem;
  width: 8.9rem;

  border: none;
  background-color: $green3;
  border-radius: 20px;

  color: white;
  font-size: 0.6rem;
  font-weight: 600;
}

.middle {
  display: flex;
  justify-content: space-around;
  align-items: center;

  padding-bottom: 1.25rem;
}

.bottom {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.clickedBtn {
  // width: 7.8rem;
  border: none;
  border-bottom: solid $green3 0.15rem;
  background-color: white;

  font-size: 0.8rem;
  font-weight: 700;
  color: $green3;

  padding: 0 0.9rem 0.6rem;
}

.nomalBtn {
  // width: 7.8rem;
  border: none;
  background-color: white;

  font-size: 0.8rem;
  font-weight: 700;
  color: $gray1;

  padding: 0 0.9rem 0.6rem;
}
