//IssueChip.tsx
@import '../global';
@import '../color';
@import '../reset';

//  new #ffdc5e; hot #ffb5b5; todo 색상 변수로 넘기기
.issueChip {
  width: 31px;
  height: 10px;
  padding: 2px 5px;

  border-radius: 6px;

  font-size: 0.55rem;
  font-weight: 600;
  color: $white;

  background-color: #ffb5b5;

  //김경혜
  display: flex;
  align-items: center;
  justify-content: center;
}

.chipWrapper {
  position: absolute;
  right: 2px;
  margin: 4px;
}
