@import '/src/styles/global';
@import '/src/styles/color';

.container {
  @include setting;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  height: 100vh;
}

.formContainer {
  display: flex;
  flex-direction: column;
  label {
    @include font-body2;
    padding: 0.9rem 0 0.3rem;
  }
}

.top {
  display: flex;
  @include flex-center-col;
  padding-top: 140px;
}

.title {
  font-size: 1.5rem;
  font-weight: 700;
}

.description {
  @include font-body2;
  padding: 0.63rem;
  flex-direction: column;
  display: flex;
  align-items: center;
}

.bottom {
  width: 100%;
}

.submitBtn {
  color: $white;
  padding-top: 2.5rem;
}
