@import '../../styles/global';
@import '../../styles/color';
@import '../../styles/reset';

//Main.page.tsx
.container {
  @include setting;
  @include flex-center-col;
}

.flex {
  display: flex;
  flex-direction: column;
  gap: 1.6rem;
  padding: 0 1.6rem;
  width: 100%;
}

.buttonWrapper {
  @include flex-center-col;
  padding: 10px 54px;
}

.sectionWrapper {
  position: relative;
  flex-direction: column;
}

.toggleWrapper {
  position: absolute;
  top: -1px;
  left: 92px;
}
.bannerWrapper {
  //padding-top: 80px; 김경혜
  padding-top: 0;
}

// SliderBannerImg.tsx
.sliderImgContainer {
  width: 100vw;
  margin: 0 auto;
  position: relative;
  overflow: hidden;

  @media (min-width: 720px) {
    max-width: 390px;
  }
}

.bannerContainer {
  transform: translateX(0px);
  transition: all 0.3s ease-in-out;
}

.sliderButtonWrapper {
  @include flex-center-row;
  width: 100vw;
  justify-content: space-between;
}

.sliderButtonLeft {
  width: 2rem;
  height: 2rem;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: 0;
}
.sliderButtonRight {
  width: 2rem;
  height: 2rem;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  right: 0;
}

.btnImg {
  width: 2rem;
  height: 2rem;

  //김경혜
  color: $green1;
}
.sliderBox {
  white-space: nowrap;
  display: flex;
}
.slideItem {
  & img {
    width: 100%;
  }
}
.bannerImage {
  width: 100%;
  height: 100%;
  background-size: 50% 50%;
}

//Toggle.tsx
.toggle {
  display: flex;
  justify-content: end;
  align-items: center;

  border: gray solid 1px;
  width: 64px;
  height: 26px;
  border-radius: 16px;
}

.toggleHandler {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 42px;
  height: 22px;
  border-radius: 20px;
  box-shadow: 2px 2px 0.3em $gray1;
  margin: 3px;
  background-color: $green3;
  color: $white;
  font-size: 0.8rem;
  cursor: pointer;
}

//ClubList.tsx
.clublistItemBox {
  @include flex-center-row;
  margin: 0px;
  padding: 8px 0;
  border-bottom: solid 1px $gray1;
  cursor: pointer;
}
.chipPlace {
  width: 20%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.clubTitle {
  @include font-subtitle2;
  font-weight: 400;
  width: 80%;
  height: 18px;
  padding-right: 6px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

//RankList.tsx
.rankItemWrapper {
  display: flex;
  justify-content: center;
  height: 40px;
}
.userRank {
  text-align: center;
  width: 16px;
  height: 20px;
  font-weight: 500;
  color: $gray3;
}

.profileImgWrapper {
  overflow: hidden;
  background-color: rgb(144, 144, 144);
  border-radius: 50%;
  width: 2rem;
  height: 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 16px;
}

.userImg {
  width: 100%;
}

.userNickname {
  @include font-body2;
  width: 160px;
  text-align: start;
  margin: 0 auto;
}

.userScore {
  @include font-body1;
  width: 60px;
  font-weight: 600;
  color: $gray2;
}

.rankItemWrapper {
  @include flex-center-row;
  padding: 2px 10px;
  border-bottom: solid 1px $gray1;
}
