@import '../../styles/global';
@import '../../styles/color';
//MainPage.style
.container {
  @include setting;
  @include flex-center-col;
}

.flex {
  display: flex;
  flex-direction: column;
  gap: 1.7rem;
  border: 1px blue solid;
  padding: 50px 0;
}
.button-wrapper {
  @include flex-center-col;
  padding: 10px 54px;
}

.section-wrapper {
  display: flex;
  flex-direction: column;
  gap: 18px;
}

.toggle-wrapper {
  position: absolute;
  left: 120px;
}
// SectionTitle.tsx
.section-title-wrapper {
  display: flex;
  flex-direction: column;

  //가로 margin 삭제 윤혜원 
  // margin: 5px 20px;
  margin:5px 0;
  width:100%;


  gap: 11px;
}

.subtitle-wrapper {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  color: $gray2;
  border-bottom: 1px solid $gray1;
  padding: 0 2px 16px 2px;
  @include font-subtitle2;
}
.title {
  //폰트 사이즈 변수명 설정 수정 - 윤혜원
  // font-size: 1.3rem;
  // font-weight: 700;
  @include font-title;
  padding-left: 2px;
}

.absolute-more-button {
  cursor: pointer;
}

// slider.style
.banner-container {
  width: 100vw;
  height: 400px;
  border: solid red 1px;
}
.slider-button-wrapper {
  @include flex-center-row;
}
.slider-box {
  width: 100%;
  white-space: no-warp;
}
.slide-item {
  width: 80vw;
  margin: 0 10vw 0 10vw;
  display: inline-block;
}

// Thumbnail.tsx

.thumnail-container {
  @include flex-center-row;
  gap: 16px;
  //100% 설정 
  width:100%;
}
.thumnail-item-box {
  position: relative;
  //반응형 사이즈로 변경 , 마진추가
  width: 30%;
  height: 120px;
  border-radius: 12px;
  margin: 1rem 0;

  background-color: skyblue;
  cursor: pointer;
}
.index-badge {
  position: absolute;
  // width: 50px;
  // height: 50px;
  //반응형으로 변경 
  width:3rem;
  height:3rem;
  border-radius: 0.8rem;
  left: -1rem;
  top: -1rem;
  background-color: $green1;
  clip-path: polygon(50% 0%, 67% 29%, 98% 35%, 77% 59%, 79% 91%, 50% 80%, 21% 91%, 24% 63%, 2% 35%, 32% 29%);
}

.thumnail-title {
  position: absolute;
  bottom: 0;
  margin: 10px;
  //wrap으로 변경 
  white-space: wrap;
  overflow: hidden;
  text-overflow: ellipsis;
  @include font-subtitle1;
  letter-spacing: -1px;
  color: white;
}

.img {
  width: 100%;
  height: 100%;

  overflow: hidden;
}

//Toggle.tsx
.toggle {
  display: flex;
  justify-content: end;
  align-items: center;

  border: gray solid 1px;
  width: 64px;
  height: 26px;
  border-radius: 16px;
}

.toggle-handler {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 42px;
  height: 22px;
  border-radius: 20px;
  box-shadow: 2px 2px 0.3em $gray1;
  margin: 3px;
  background-color: $green3;
  color: $white;
  font-size: 0.8rem;
  cursor: pointer;
}

//ClubList.tsx
.clublist-item-box {
  @include flex-center-row;
  margin: 0px 20px;
  padding: 13px;
  border-bottom: solid 1px $gray1;
  cursor: pointer;
}
.chip-place {
  width: 20%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.club-title {
  width: 80%;
}
//IssueChip.tsx
//  new #ffdc5e; hot #ffb5b5; todo 색상 변수로 넘기기
.issue-chip {
  width: 32px;
  height: 10px;
  padding: 2px 5px;
  border-radius: 6px;
  font-size: 0.6rem;
  font-weight: 600;
  background-color: #ffb5b5;
  color: $white;
}

.chip-wrapper {
  position: absolute;
  right: 2px;
  margin: 4px;
}

//RankList.tsx
.rank-list-box {
  padding: 0;
}
.rank-item-wrapper {
  display: flex;
  justify-content: center;
  padding: 0 20px !important;
  height: 40px;
}
.user-rank {
  text-align: center;
  width: 16px;
  height: 20px;
  font-weight: 500;
  color: $gray3;
}

.profile-img-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 16px;
}
.user-profile-img {
  width: 36px;
  height: 36px;
  background-color: aquamarine;
  border-radius: 50%;
}
.user-nickname {
  width: 160px;
  text-align: start;
  margin: 0 auto;
}

.user-score {
  width: 60px;
  font-weight: 600;
  color: $gray2;
}

.rank-item-wrapper {
  @include flex-center-row;
  margin: 0px 20px;
  padding: 2px;
  border-bottom: solid 1px $gray1;
}
