@import '../../styles/global';
@import '../../styles/color';
@import '../../styles/global';

//MainPage.style
.container {
  @include setting;
  @include flex-center-col;
}

.flex {
  display: flex;
  flex-direction: column;
  gap: 1.7rem;
  border: 1px blue solid;
  padding: 50px 1.6rem;
  width: 100%;
}
.buttonWrapper {
  @include flex-center-col;
  padding: 10px 54px;
}

.sectionWrapper {
  display: flex;
  flex-direction: column;
  gap: 18px;
}

.toggleWrapper {
  position: absolute;
  left: 120px;
}

// Slider.tsx
.bannerContainer {
  @include setting;
  width: 100vw;
  height: 400px;
  border: solid red 1px;
}
.sliderButtonWrapper {
  @include flex-center-row;
}
.sliderBox {
  width: 100%;
  white-space: no-warp;
}
.slideItem {
  width: 80vw;
  margin: 0 10vw 0 10vw;
  display: inline-block;
}

//RankList.tsx
.rankListBox {
  padding: 0;
}
.rankItemWrapper {
  display: flex;
  justify-content: center;
  padding: 0 20px !important;
  height: 40px;
}
.userRank {
  text-align: center;
  width: 16px;
  height: 20px;
  font-weight: 500;
  color: $gray3;
}

.profileImgWrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 16px;
}
.userProfileImg {
  width: 36px;
  height: 36px;
  background-color: aquamarine;
  border-radius: 50%;
}
.userNickname {
  width: 160px;
  text-align: start;
  margin: 0 auto;
}

.userScore {
  width: 60px;
  font-weight: 600;
  color: $gray2;
}

.rankItemWrapper {
  @include flex-center-row;
  margin: 0px 20px;
  padding: 2px;
  border-bottom: solid 1px $gray1;
}
