@import '/src/styles/global';
@import '/src/styles/color';

.container {
  @include setting;
  @include flex-center-col;
}

.top {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 3.1rem 0;
  h2 {
    @include font-title;
    padding-bottom: 0.9rem;
  }
  p {
    @include font-subtitle2;
  }
}

.middle {
  display: flex;
  flex-direction: column;
}

.categoryContainer {
  display: flex;
  flex-direction: column;
}

.title {
  font-size: 1.25rem;
  font-weight: 500;
}

.categoryList {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  padding: 1.25rem 0 1.9rem;
  button {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;

    width: 4.4rem;
    height: 5rem;
    margin: 0 0.4rem 0.75rem;

    border-style: none;
    border-radius: 12px;
    box-shadow: 1px 1px 4px $gray2;
  }
}

.icon {
  font-size: 2.25rem;
}

.name {
  @include font-body2;
  padding-bottom: 5px;
}

.bottom {
  padding: 1.25rem 0;
  width: 100%;
  color: $white;
}
