@import '/src/styles/global';
@import '/src/styles/color';

.container {
  margin: 0.6rem 0;

  border-radius: 10px;
  box-shadow: 1px 1px 3px $gray2;
}

.textContainer {
  display: flex;
  flex-direction: column;

  width: 90%;

  padding: 0.6rem 1.25rem 0;
}

.top {
  padding-bottom: 0.6rem;
}

.name {
  font-size: 1.4rem;
}

.middle {
  padding-bottom: 0.6rem;
}

.location {
  @include font-subtitle2;
  width: 90%;
  color: $green3;
}

.bottom {
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
}

.logo {
  width: 40px;
}
