@import '/src/styles/global';
@import '/src/styles/color';

.container {
  @include setting;
  display: flex;
  flex-direction: column;
}

.top {
  @include flex-center-col;
}

.mainImg {
  width: 7.5rem;
  height: 7.5rem;
}

.title {
  @include font-subtitle1;
  padding: 1.9rem 0;
}

.trophyList {
  display: flex;
  flex-wrap: wrap;
  align-content: space-between;
  justify-content: space-between;
}

.trophyContainer {
  display: flex;
  width: 33%;
  flex-direction: column;
  align-items: center;
  padding: 20px 0;
}

.trophyImg {
  width: 3.75rem;
  height: 3.75rem;
  border-radius: 50%;
}

.trophyName {
  @include font-subtitle2;
  padding: 0.3rem 0 0.5rem;
}
