@import '/src/styles/global';
@import '/src/styles/color';

.container {
  @include setting;
}

.userInfo {
  @include flex-center-col;
  padding: 0.6rem 0 1.5rem;
}

.userImg {
  width: 5rem;
  height: 5rem;
  border-radius: 50%;
}

.userName {
  @include font-title;
  padding: 0.75rem 0 0.8rem;
}
.infoContainer {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
}

.middle {
  width: 100%;
  display: flex;
  justify-content: space-between;
  padding-top: 0.94rem;
}

.left {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.buttom {
  display: flex;
  flex-direction: column;
  padding: 1rem 0;
}

.withdrawalBtn {
  height: 3.4rem;
  border: none;
  border-radius: 10px;
  background-color: #ff8080;
  color: white;
  font-size: 0.93rem;
  font-weight: 700;
}

.btn {
  color: $green3;
}
