$green3: #498428;
$green2: #c1d95f;
$green1: #eaef9d;
$yellow: #fbc241;

$blue: #3884de;
$red2: #d80303;
$red1: #ff8080;
$gray1: #c3c3c3;
$gray2: #7f7f7f;
$gray3: #454545;
$black: #212901;
$white: #fff;
$white2: #f5f5f5;
$purple: #f1caff;
