@mixin setting {
  @media (min-width: 300px) {
    width: 100vw;
    height: 100vh;
    padding: 2rem;
    padding-top: 5.125rem;
    box-sizing: border-box;
  }
  @media (min-width: 390px) {
    width: 390px;
    height: 100vh;
    padding: 2rem;
    padding-top: 5.125rem;
    box-sizing: border-box;
  }
}
@mixin flex-center-col {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
@mixin flex-center-row {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

@mixin font-title {
  font-weight: 700;
  font-size: 20px;
}
@mixin font-subtitle1 {
  font-weight: 700;
  font-size: 16px;
}
@mixin font-subtitle2 {
  font-weight: 500;
  font-size: 14px;
}
@mixin font-body1 {
  font-weight: 700;
  font-size: 13px;
}
@mixin font-body2 {
  font-weight: 500;
  font-size: 12px;
}

body {
  margin: 0;
  font-family: 'Noto Sans KR', sans-serif;
  height: 100%;
  width: 100vw;
  font-size: 16px;
  @include flex-center-col;
}
