@import '../global';
@import '../color';

.login-container {
  @include flex-center-col();
  @include setting;
  width: 100vw;
  height: 100vh;
  gap: 2.8rem;
  background-color: #eaef9d;
}

.login-text-container {
  @include flex-center-col();
  .login-text {
    color: $green3;
    @include font-title;
    font-size: 2rem;
  }
  .login-description {
    color: $gray2;
    @include font-subtitle2;
  }
}

.input-container {
  @include flex-center-col();

  .input-container {
    width: 18rem;
    height: 2.5rem;
    display: flex;
    flex-direction: row;
    border-radius: 1.2rem;
    margin: 1rem 0;
    background-color: $white;
    justify-content: space-evenly;
  }
  input {
    width: 70%;
    height: 100%;
    border: none;
    background: none;
    outline: none;
  }
  .login-btn {
    width: 18rem;
    height: 2.5rem;
    background-color: $green3;
    border: none;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    border-radius: 1.2rem;
    cursor: pointer;
    color: white;
    @include font-subtitle2;
  }
  .login-menu-container {
    @include flex-center-row();
    margin: 0.8rem 0;
    width: 100%;
    display: flex;
    justify-content: space-around;
    color: $green3;
    cursor: pointer;

    .vertical-line {
      width: 1px;
      height: 1rem;
      background: $green3;
    }
  }
}

.social-login-container {
  @include flex-center-col();

  @include font-body2;
  color: $green3;
  .social-login-icon {
    @include flex-center-row();
  }
}
