@import '../color.scss';
@import '../global.scss';
@import '../reset.scss';

.container {
  @include flex-center-col;
  @include setting;

  height: 100vh;
  form {
    width: 100%;
  }
}

.inputContainer {
  display: flex;
  flex-direction: column;
  margin: 0.8rem 0;

  input {
    outline: none;
    border-radius: 0.5rem;
    border: 0.1rem solid #c3c3c3;

    width: 100%;
    height: 2.5rem;
    padding: 0 0.5rem;

    box-sizing: border-box;
  }
}
.label {
  font-size: 0.8rem;
  font-weight: 400;

  margin-bottom: 0.3rem;
}

.availabilityContainer {
  display: flex;
  justify-content: space-between;
}

.availabilityInput {
  width: 75%;
}

.checkBtn {
  @include flex-center-col();

  width: 20%;

  background-color: #498428;

  font-size: 0.8rem;
  font-weight: 400;
  color: white;

  border-radius: 0.5rem;

  margin-left: 0.63rem;
}

.joinBtn {
  border: none;
  border-radius: 0.6rem;
  background-color: $green3;

  height: 2.8rem;
  width: 100%;

  font-size: 16px;
  font-weight: 700;
  color: $white;

  margin: 1.25rem 0;

  @include flex-center-col;
  cursor: pointer;
}

.errorMessage {
  color: $red1;
  @include font-body2;

  padding-top: 3px;
}
