@import '../../color.scss';
@import '../../global';


.input{
    width:100%;
    border-radius:0.6rem;
    border:0.1rem solid $gray1;
    height:2.5rem;
    padding:0 1rem;
    box-sizing: border-box;
    outline:none;
}

.outline-green3{
    border-color: $green3;
}

.outline-gray{
    border-color: $gray1;
}

.underline{
    border-color: rgba($color: #000000, $alpha: 0.0);
    border-bottom: 0.1rem solid $gray1;
    border-radius: 0;
}

.search-input-container{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width:100%;
    padding:0 1rem;
    box-sizing: border-box;
    border: 0.1rem solid $green3;
    border-radius:0.6rem;

    .search-input{
        width:100%;
        border:none;
        height:2.5rem;
        padding:0 1rem;
        box-sizing: border-box;
        outline:none;
    }
    
}
