.footer {
    display: flex;
    width: 100vw;
    height: 8.875rem;
    background-color: rgba(124, 141, 114, 0.39);
    align-items: flex-start;
    justify-content: center;
    padding-top: 2.063rem;
  
    //footer 하단 고정
    position: relative;
    //transform: translateY(-100%);
  
    p {
      color: #636363;
      font-size: 0.375rem;
      padding: 0.063rem;
    }
  }
  
  .member {
    font-weight: bold;
  }
  
  .aboutBox {
    display: flex;
  }
  
  .logo {
    width: 2.188rem;
    padding-right: 0.188rem;
  }
  
  .about {
    border-left: 0.063rem #c7c6c6 solid;
    padding: 0 0.938rem 0 0.188rem;
    img {
      display: inline;
      width: 0.625rem;
    }
    p {
      padding: 0;
    }
  }
  
  .gitContainer {
    display: flex;
    align-items: center;
    padding: 0.188rem;
    p {
      padding: 0.188rem;
    }
  }
  
  .qnaContainer {
    font-size: 0.438rem;
    p {
      padding: 0.125rem;
    }
  }