@import '../../color';
@import '../../global';

.header {
  background-color: $green2;
  width: 100%;
  height: 3.125rem;
  top: 0;
  left: 0;
  bottom: 3.125rem;
  width: 100%;

  position: fixed;
  z-index: 999;
}

.logo {
  height: 1.875rem;
  padding: 0.938rem 0 0 1.563rem;
}

.userBox {
  display: flex;
  padding: 1.563rem 1.563rem 2rem;
}

.navOpen {
  display: flex;
  flex-direction: column;
  width: 320px;
  height: 110%;
  background-color: #fffffa;
  z-index: 1000;
  position: fixed;
  top: -0.063rem;
  left: 0;
  right: -80%;
  transition: 0.5s;
  li {
    list-style: none;
    margin: 0.625rem;
  }
}

.navContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  ul {
    margin-right: 1.875rem;
    padding: 0.625rem 0 0.625rem 0;
  }
  li {
    margin: 0;
    padding: 0.938rem 0;
    padding-right: 1.563rem;
    font-size: 20px;
    a {
      text-decoration: none;
      color: $black;
    }
  }
}

.hambergerBtn {
  all: unset;
  padding: 0.625rem;
}

.navClose {
  display: flex;
  flex-direction: column;
  width: 80%;
  height: 110%;
  background-color: #fffffa;
  z-index: 1000;
  position: fixed;
  top: -0.063rem;
  left: -100%;
  transition: 0.5s;
}

.darkBg {
  position: fixed;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.3);
  transition: 0.3s;
}
