@import '../color';
@import '../global';
@import '../reset';


.mainContainer{
    @include flex-center-col;
    @include setting;
    height: calc(100vh - 8.875rem) !important;
}
.backBtn{
    cursor: pointer;
    padding-right: 0.2rem;
}
.containerRow{
    @include flex-between-row;
    width:100%;
}
.back{
    height:300px;
    background-color: red;
}