@import '../color';
@import '../global';
@import '../reset';


.mainContainer{
    @include flex-center-col;
    @include setting;
    // height: calc(100vh - 8.875rem) !important;
    gap: 2rem;
    margin-bottom:5.4rem;
}
.backBtn{
    cursor: pointer;
    padding-right: 0.2rem;
}
.containerRow{
    @include flex-between-row;
    
    width:100%;
    margin-bottom:1rem;
    // margin:1rem 0;    
}
.wrap{
    justify-content: start;
    gap:0.5rem;
    flex-wrap: wrap;
}
.containerCol{
    @include flex-between-col;
    width:100%;
}
.back{
    height:300px;
    background-color: red;
}

.subtitle1{
    @include font-subtitle1;
}
.subtitle2{
    @include font-subtitle2;
    color:$gray2;
}
.body1{
    @include font-body1;
    color:$green3;
}
.pointer{
    cursor: pointer;
}

.chipContainer{
    @include flex-between-row;
    gap:0.4rem;
    
}

.closeBtn:hover{
    background-color: $green2;
    cursor:pointer;
    border-radius: 50%;
    padding:0.1rem;
    width:1rem;
    height:1rem;
    text-align: center;
}

.iconTextContainer{
    display: flex;
    padding:0 0.2rem;
    gap:0.3rem;
}
.filterContainer{
@extend .iconTextContainer;
}

.width100{
    width:100%;
}
.green3Font{
    color:$green3;
    text-decoration: underline;
}
.noResultText{
    text-align: center;
    width:100%;
    height:10rem;
    display:flex;
    justify-content: center;
    @include font-subtitle1;
    color:$gray2;
}
