@import '/src/styles/global';
@import '/src/styles/color';

.container {
  @include setting;
  @include flex-center-col;
}

.top {
  display: flex;
}

.title {
  @include font-title;
}

.icon {
  width: 1.5rem;
  height: 1.5rem;
}

.bottom {
  display: flex;
}
