@import '/src/styles/global';
@import '/src/styles/color';

.container {
  @include setting;
  @include flex-center-col;
}

.image {
  width: 6.25rem;
  height: 6.25rem;
  background-color: $green1;
  border-radius: 50%;

  margin-top: 30px;
  padding: 30px;
}

.vertifyBtn {
  border-style: none;
  border-radius: 10px;

  width: 8.25rem;
  height: 2.8rem;
  margin: 20px 10px 0;

  background-color: var(--main-bg-color);

  @include font-subtitle1;
  color: $white;
}

.title {
  @include font-title;
  padding: 110px 0 10px;
  color: $green3;
}
