@import '/src/styles/global';
@import '/src/styles/color';

.gap {
  padding: 0.63rem;
}
.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;

  width: 100%;
  height: 100%;
}

.top {
  display: flex;
  justify-content: center;

  padding: 0 1.57rem;
  img {
    width: 3.75rem;
    height: 3.75rem;

    border-radius: 50%;
  }
}

.introduce {
  display: flex;
  flex-direction: column;
  justify-content: space-around;

  padding: 0.3rem 0.9rem 0.5rem;
}

.name {
  font-size: 1.1rem;
  color: $black;
}

.description {
  @include font-body2;
  color: $black;
}

.bottom {
  display: flex;
  justify-content: center;

  padding-top: 1.2rem;
}

.progress {
  width: 90%;
  height: 0.6rem;

  background-color: $white;

  border-radius: 25px;
}

.precentBar[data-color='green'] {
  height: 100%;

  border-radius: 25px;
  background-color: $green2;
}

.percentBar {
  height: 100%;

  border-radius: 25px;
  background-color: $yellow;
}
